<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <style>
      .product {
        border: 1px grey solid;
        padding: 20px;
        margin: 20px;
        text-align: center;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="./products.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link rel="manifest" href="petstore.webmanifest" />
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("service-worker.js");
      }
    </script>
    <title>Vue.js Pet Depot</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h1 v-text="sitename"></h1>
        <button v-on:click="showCheckout">
          {{cartItemCount}}
          <span><i class="fa-solid fa-cart-shopping"></i> &nbsp; Checkout</span>
        </button>
      </header>
      <main>
        <div v-if="showProduct">
          <div class="product" v-for="product in sortedProducts">
            <figure>
              <img v-bind:src="product.image" alt="yes" />
            </figure>
            <h2 v-text="product.title"></h2>
            <p v-text="product.description"></p>
            <p>Price: {{product.price}}</p>
            <button
              v-on:click="addToCart(product)"
              v-if="canAddToCart(product)"
            >
              Add to cart
            </button>
            <button disabled v-else>Add to cart</button>
            <span v-if="product.availableInventory === cartCount(product.id)"
              >All Out</span
            >
            <span
              v-else-if="product.availableInventory - cartCount(product.id) < 5"
            >
              Only {{product.availableInventory - cartCount(product.id)}} left!
            </span>
            <span v-else>Buy Now!</span>
          </div>
        </div>
        <div v-else>
          <h2>Checkout</h2>
          <p>
            <strong> First Name: </strong>
            <input type="text" v-model="order.firstName" />
          </p>
          <p>
            <strong> Last Name: </strong>
            <input type="text" v-model="order.lastName" />
          </p>
          <hr />
          <h2>Order Information</h2>
          <p><b>First Name:</b> {{order.firstName}}</p>
          <p><b>Last Name:</b> {{order.lastName}}</p>
          <p>
            <strong>Address:</strong>
            <input v-model="order.address" />
          </p>
          <p><strong>City:</strong><input v-model="order.city" /></p>
          <p>
            <strong>State:</strong> {{order.state}}
            <select v-model="order.state" class="form-control">
              <option disabled value="">State</option>
              <option v-for="(state,key) in states" v-bind:value="state">
                {{key}}
              </option>
              <!-- <option v-bind:value="states.AL">AL</option>
              <option v-bind:value="states.AR">AR</option>
              <option v-bind:value="states.CA">CA</option>
              <option v-bind:value="states.NV">NV</option> -->
            </select>
          </p>
          <p>
            <strong>Zip/Postal Code:</strong>
            <input v-model="order.zip" />
          </p>
          <p>
            <input
              type="checkbox"
              id="gift"
              value="true"
              v-model="order.gift"
              v-bind:true-value="order.sendGift"
              v-bind:false-value="order.dontSendGift"
            />
            <label for="gift">Ship As Gift? {{order.gift}} </label>
          </p>
          <p>
            <input type="radio" id="home" value="Home" v-model="order.method" />
            <label for="home">Home</label>
            <input
              type="radio"
              value="Business"
              id="business"
              v-model="order.method"
            />
            <label for="business">Business</label>
          </p>
          <button v-on:click="submitForm">Place Order</button>
        </div>
      </main>
    </div>

    <script>
      var webstore = new Vue({
        el: "#app",
        data: {
          sitename: "Vue.js Pet Depot",
          showProduct: true,
          products: products,

          // {
          //   id: 1001,
          //   image:
          //     "https://static.wikia.nocookie.net/seuss/images/9/9a/Img_drseuss_cat.gif",
          //   title: "cat",
          //   price: 2000,
          //   description: "pog",
          //   availableInventory: 5,
          //   rating: 3,
          // },
          order: {
            firstName: "",
            lastName: "",
            address: "",
            city: "",
            state: "",
            zip: "",
            method: "Home",
            gift: "Send As A gift",
            sendGift: "Send As A gift",
            dontSendGift: "Do Not Send As A gift",
          },
          states: {
            AL: "Alabama",
            AR: "Arkansas",
            CA: "California",
            NV: "Nevada",
          },
          cart: [],
          showProduct: true,
        },
        methods: {
          addToCart(products) {
            this.cart.push(this.products.id);
          },
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
            // console.log(cartCount(product.id));
          },
          submitForm() {
            alert("Order Submitted");
          },
          canAddToCart(product) {
            return product.availableInventory > this.cartCount(product.id);
          },
          cartCount(id) {
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i] === id) [count++];
            }
            return count;
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
          sortedProducts() {
            let productsArray = this.products.slice(0);
            function compare(a, b) {
              if (a.price > b.price) return 1;
              if (a.price < b.price) return -1;
            }
            return productsArray.sort(compare);
          },
        },
      });
    </script>
  </body>
</html>
